*{
	color: black;
	font-family:verdana;
	margin:0;
	padding: 0;
}
body{
	background-color:cyan;
}
header {
	margin-top: 30px;
	margin-bottom: 100px;
}
header h1{
	margin-left:50px;
}
th h2{
	color:red;
	font-weight:bold;
}
#VS{
	font-weight:bold;
	font-size:40px;
}
.clear{
	clear:both;
}
footer{
	margin-top:10%;
	display:left;
}
footer img{
	width:30%;
}